<h1>Create New Book Review</h1>
<article>
    <form method="POST" action="/api/create">
        <div class="input-field">
            <label>Book Title:</label>
            <input type="text" name="title" size="50" placeholder="Book Title">
        </div>
        <div class="input-field">
            <label>Pages</label>
            <input type="text" name="pages" size="50" placeholder="Put the number of pages">
        </div>
        <div class="input-field">
            <label>Rating</label>
            <input type="text" name="rating" size="50" placeholder="Put a integer from 1 to 5 for rating out of 5">
        </div>
         <div class="input-field">
            <label>Book Slug:</label>
            <input type="text" name="slug" size="50" placeholder="book_title_with_spaces_replaced_with_underscore">
        </div>
        <div class="input-field">
            <label>Book Tags:</label>
            <input type="text" name="tags" size="50" placeholder="Tag1 Tag2 Tag3 (seperated by spaces)">
        </div>
        <div class="input-field">
            <label>Author</label>
            <textarea type="text" name="Author" size="50" placeholder="Author Name"></textarea>
        </div>
        <div class="input-field">
            <label>Review</label>
            <textarea type="text" name="reviews" rows="20" placeholder="Write Review here..."></textarea>
        </div>
        <button type="submit">Create Blog Post </button>
    </form>
</article>
