<div class="title-container">
    <h1 class="">{{this.title}}</h1>
    <p>this is the most recent highest rated book </p>
</div>
<div class="Author">
    {{{this.Author}}}
</div>
<div class="reviews">
  <p>Here is the rating out of 5</p>
    {{{this.rating}}}
</div>
